.dropdown {
    height: 100px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu-item {
    position: relative;
}

h2 {
    color: white;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    z-index: 2;
}

.menu-item:hover .sub-menu {
    display: block;
}

.menu-item:hover .sub-menu li {
    display: block;
    padding: 10px;
}


a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu-item:hover .sub-menu a:hover {
    background-color: #555;
}
