#blog{
    display: flex;
    flex-direction: column;
}

.title{
    height:20%;
    text-align: center;
    background-color: aliceblue;
}

.Header{
    height:100px;
    
    display: flex;
   
    align-items: center;
}



.main{
    height: 400px;
    
    display: flex;
}

.main1{
    width:60%;
    margin: 100px 100px;
}

.main2{
    width: 40%;

}

ul {
    list-style-type: none; /* Remove bullet points from list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display menu items as a horizontal list */
    justify-content: flex-start;
    width: 60%;
}

.buttons{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
a {
    text-decoration: none; /* Remove underline from links */
    color: hsl(0, 40%, 51%); /* Text color for links */
    font-weight: bold; /* Make links bold */
    margin-right: 20px;
    font-size: 20px;
}
